.gameboard-wrapper {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.boardCell {
    border: 2px solid #444444;
    font-size: 4em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hover {
    cursor: pointer;
}

.player-turn-1 {
    color: #b69f34;
}

.player-turn-2 {
    color: #c93030;
}